In [1]:
import pandas as pd

In [2]:
pictures = pd.read_csv('pictures.csv')
scores = pd.read_csv('new_pics_new_model_predictions.csv')

In [3]:
scores.head()

   Unnamed: 0                                                jpg     score
0           0  Death+Valley+Junction+California+92328+USA-CA+...  0.010486
1           1  Sand+City+California+USA-Gorda+California+9392...  0.701661
2           2  Kings+Beach+California+USA-Camp+Richardson+Cal...  0.015996
3           3  Kings+Beach+California+USA-Camp+Richardson+Cal...  0.017316
4           4  Death+Valley+Junction+California+92328+USA-CA+...  0.058466

In [4]:
pictures.head()

  folder  segment  picture                                                jpg
0  Death        0       60  Death+Valley+Junction+California+92328+USA-CA+...
1  Death        1      135  Death+Valley+Junction+California+92328+USA-CA+...
2  Death        2      435  Death+Valley+Junction+California+92328+USA-CA+...
3  Death        3      468  Death+Valley+Junction+California+92328+USA-CA+...
4  Death        4      521  Death+Valley+Junction+California+92328+USA-CA+...

In [5]:
df_inner = pd.merge(pictures, scores, on='jpg',how='inner')

In [7]:
df_inner[df_inner.folder == 'Death']

,folder,segment,picture,jpg,Unnamed: 0,score
0,Death,0,60,Death+Valley+Junction+California+92328+USA-CA+...,147,0.555867
1,Death,1,135,Death+Valley+Junction+California+92328+USA-CA+...,354,0.104651
2,Death,2,435,Death+Valley+Junction+California+92328+USA-CA+...,1262,0.157831
3,Death,3,468,Death+Valley+Junction+California+92328+USA-CA+...,1359,0.169877
4,Death,4,521,Death+Valley+Junction+California+92328+USA-CA+...,1523,0.003937
5,Death,5,579,Death+Valley+Junction+California+92328+USA-CA+...,1685,0.657088
6,Death,6,603,Death+Valley+Junction+California+92328+USA-CA+...,1776,0.104651
7,Death,7,614,Death+Valley+Junction+California+92328+USA-CA+...,1804,0.008038
8,Death,8,772,Death+Valley+Junction+California+92328+USA-CA+...,2310,0.161973
9,Death,9,836,Death+Valley+Junction+California+92328+USA-CA+...,2502,0.004794